.PartyRoomInfo-container {
    color: white;
    border-radius: 4px;
    margin: 8px 0;
    text-align: center;
    background-color: inherit;
    overflow-y: auto;
    display:flex;
    flex-direction:column;
}

.PartyRoomInfo-listGroupItem {
    background-color: #343a40;
    border: 1px solid rgba(175, 175, 175, .125);
    padding: 10px 12px;
}