.currentTrackInformation {
    color: white;
    border-radius: 4px;
    padding: 16px;
    margin: 16px 0;
    text-align: center;
    background-color: #343a40;
    display: flex;
    min-height: 150px;
}

.SpotifyPlayerContainer-Image {
    height: 110px;
    margin: auto;
}

.currentTrackDetails {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: auto 0;
    padding: 0 16px;
    width: 100%;
}

.SpotifyPlayerContainer-Progress {
    height: 5px;
    margin: 10px 0;
}

.playerSpinner {
    height: 50px;
    width:50px;
    color: white;
}

.Player-playIcon {
    padding: 16px;
    margin: auto;
    border-radius: 4px;
}

.Player-playIcon:hover {
    background-color: #232930;
}

.SpotifyPlayerContainer-Progress > .progress-bar {
    background-color: #17a2b8;
}