.currentTrackInformation {
    color: white;
    border-radius: 4px;
    padding: 16px;
    margin: 16px 0;
    text-align: center;
    background-color: #343a40;
    display: flex;
    height: 100px;
}

.SpotifyPlayerContainer-Image {
    height: 100%;
    margin: auto;
}

.currentTrackDetails {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: auto 0;
    padding: 0 16px;
    width: 100%;
}

.SpotifyPlayerContainer-Progress {
    height: 5px;
    margin: 10px 0;
}

.playerSpinner {
    height: 50px;
    width:50px;
    color: white;
}

.Player-playIcon {
    font-size: 2.75rem;
    margin: auto;
    border-radius: 100%;
}

.Player-playIcon:hover {
    color: #ddd;
    cursor: pointer;
}

.SpotifyPlayerContainer-Progress > .progress-bar {
    background-color: #17a2b8;
    border-radius: 0 4px 4px 0;
}

.volumeContainer {
    width: 12px;
    background: white;
    border-radius: 0.25rem;
    margin-right: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column-reverse;
    cursor: pointer;
}

.volume {
    border-radius: 0.25rem;
    height: 50%;
}